In [8]:
import pandas as pd

In [9]:

africa=pd.read_csv("Africa.csv" ,delimiter=";")

In [10]:
newafrica=africa.drop(["stringency_index", "total_vaccinations_per_hundred","positive_rate","total_cases_per_million"], axis=1)

In [11]:
newafrica.dtypes

continent                 object
location                  object
date                      object
total_cases              float64
total_deaths             float64
total_tests              float64
total_vaccinations       float64
population                 int64
aged_65_older             object
aged_70_older             object
cardiovasc_death_rate     object
diabetes_prevalence       object
female_smokers            object
male_smokers              object
dtype: object

In [12]:
newafrica.fillna(0,inplace=True)

In [13]:
newafrica=pd.to_numeric(newafrica["aged_65_older"] , errors='ignore')
#newafrica['cardiovasc_death_rate'].astype(float)

In [14]:
newafrica

0        6,211
1        6,211
2        6,211
3        6,211
4        6,211
         ...
13104    2,822
13105    2,822
13106    2,822
13107    2,822
13108    2,822
Name: aged_65_older, Length: 13109, dtype: object

In [15]:
asia=pd.read_csv("Asia.csv" ,delimiter=";")

In [16]:
sud_america=pd.read_csv("South America.csv", delimiter=";")

In [17]:
nord_america=pd.read_csv("North america.csv", delimiter=";")

In [18]:
europe=pd.read_csv("Europe.csv", delimiter=";")

In [19]:
fusion1 = pd.merge(africa, asia, how="right")

In [20]:
fusion2 = pd.merge(sud_america , nord_america, how="right")

In [21]:
fusion3=pd.merge(fusion1 , fusion2, how="right")

In [22]:
fusion=pd.merge(fusion3 , europe, how="right")

In [23]:
fusion.head()

,continent,location,date,total_cases,total_deaths,total_cases_per_million,total_tests,positive_rate,total_vaccinations,total_vaccinations_per_hundred,...,people_vaccinated_per_hundred,new_vaccinations_smoothed_per_million,population_density,median_age,gdp_per_capita,extreme_poverty,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Europe,Cyprus,01/08/2020,1124.0,19.0,NaN,207077.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Europe,Luxembourg,01/08/2020,6793.0,116.0,NaN,489147.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Europe,Monaco,01/08/2020,120.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Europe,Slovenia,01/08/2020,2171.0,119.0,NaN,132795.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Europe,Sweden,01/08/2020,77379.0,5743.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
pip install Flask

Requirement already satisfied: Flask in c:\programdata\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: click>=5.1 in c:\programdata\anaconda3\lib\site-packages (from Flask) (7.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\programdata\anaconda3\lib\site-packages (from Flask) (1.0.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\programdata\anaconda3\lib\site-packages (from Flask) (2.11.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\programdata\anaconda3\lib\site-packages (from Flask) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask) (1.1.1)
Note: you may need to restart the kernel to use updated packages.