In [59]:
import pandas as pd

In [60]:

africa=pd.read_csv("Africa.csv" ,delimiter=";")

In [61]:
asia=pd.read_csv("Asia.csv" ,delimiter=";")

In [65]:
sud_america=pd.read_csv("South America.csv", delimiter=";")

In [67]:
nord_america=pd.read_csv("North america.csv", delimiter=";")

In [86]:
europe=pd.read_csv("Europe.csv", delimiter=";")

In [89]:
fusion1 = pd.merge(africa, asia, how="right")

In [79]:
fusion2 = pd.merge(sud_america , nord_america, how="right")

In [91]:
fusion3=pd.merge(fusion1 , fusion2, how="right")

In [92]:
fusion=pd.merge(fusion3 , europe, how="right")

In [93]:
fusion.describe()

,total_cases,total_deaths,total_tests,total_vaccinations,population,new_cases,new_deaths,new_tests,new_tests_smoothed,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed,new_vaccinations_smoothed_per_million
count,1820.000000,1820.000000,1.138000e+03,2.300000e+02,1.820000e+03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,84496.522527,2064.607143,1.207684e+06,2.652771e+05,3.112651e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,149064.796217,3214.450842,3.288685e+06,3.218774e+05,3.575825e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,55.000000,1.000000,8.176000e+03,0.000000e+00,3.924400e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1393.250000,22.000000,1.396682e+05,4.286175e+04,6.259760e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,9049.000000,133.000000,3.872900e+05,1.222870e+05,2.078932e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,103249.500000,3418.000000,1.078762e+06,4.075420e+05,4.033963e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,796445.000000,13430.000000,2.458994e+07,1.588671e+06,1.009927e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN